<div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
  <div class="col-md-6 px-0">
    <h1 class="display-4 fst-italic">Facebook, Instagram e Whatsapp Ficam 7 horas fora do ar</h1>
    <p class="lead my-3">
      Lorem Ipsum é simplesmente um texto fictício da indústria de impressão e composição. Lorem Ipsum tem sido o texto fictício padrão da indústria desde os anos 1500, quando um impressor desconhecido pegou uma galé do tipo e embaralhou para fazer um livro de amostra de tipos. Ele sobreviveu 
    </p>
    <p class="lead mb-0"><a href="#" class="text-white fw-bold">Leia mais...</a></p>
  </div>
</div>