<main class="form-signup">
<div class="alert alert-success" role="alert">
 Usuario cadastrado com sucesso!
</div>
<p>
você será redirecionado para a pagina em <b>três segundos</b>
</p>
<p>
  Caso não seja redirecionado <a href="/">clique aqui</a>
</p>
</main>
<script>
    setTimeout(function(){window.location.href="/"},3000);
</script>